//btns etc
.deleteBtn {
  background: transparent;
  color: red;
  font-size: 2rem;
  outline: none;
  border: none;
  text-shadow: 1px 1px 5px red;
}
.deleteToDoBtn {
  background: transparent;
  color: red;
  font-size: 2rem;
  outline: none;
  border: none;
  text-shadow: 1px 1px 5px red;
}
.checkToDoBtn {
  background: transparent;
  color: rgb(255, 0, 0);
  font-size: 2rem;
  outline: none;
  border: none;
  text-shadow: 1px 1px 5px red;
  &.checked {
    color: greenyellow;
    text-shadow: 1px 1px 5px greenyellow;
  }
}
.createProjectBtn {
  width: 100%;
  height: 50px;
  background: none;
  border: 1px solid #08ff1d;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}
.createTaskBtn {
  float: right;
  width: 150px;
  height: 50px;
  background: none;
  border: 1px solid #08ff1d;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}

.heading {
  text-align: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.project {
  color: white;
  background: none;
  border: none;
  font-style: italic;
  font-size: 1.2rem;
  &:hover {
    text-decoration: underline;
  }
}
