html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.deleteBtn {
  background: transparent;
  color: red;
  font-size: 2rem;
  outline: none;
  border: none;
  text-shadow: 1px 1px 5px red;
}

.deleteToDoBtn {
  background: transparent;
  color: red;
  font-size: 2rem;
  outline: none;
  border: none;
  text-shadow: 1px 1px 5px red;
}

.checkToDoBtn {
  background: transparent;
  color: red;
  font-size: 2rem;
  outline: none;
  border: none;
  text-shadow: 1px 1px 5px red;
}

.checkToDoBtn.checked {
  color: greenyellow;
  text-shadow: 1px 1px 5px greenyellow;
}

.createProjectBtn {
  width: 100%;
  height: 50px;
  background: none;
  border: 1px solid #08ff1d;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}

.createTaskBtn {
  float: right;
  width: 150px;
  height: 50px;
  background: none;
  border: 1px solid #08ff1d;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}

.heading {
  text-align: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.project {
  color: white;
  background: none;
  border: none;
  font-style: italic;
  font-size: 1.2rem;
}

.project:hover {
  text-decoration: underline;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: #7786a7;
}

header {
  width: 100%;
  background-color: #627091;
}

header nav {
  min-height: 100px;
  line-height: 100px;
  margin-left: 30px;
  color: white;
  font-size: 1.4rem;
}

.container {
  width: 90%;
  margin: 0 auto;
  background-color: #7786a7;
  padding: 35px 0;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'aside main';
  -ms-grid-columns: max-content auto;
      grid-template-columns: -webkit-max-content auto;
      grid-template-columns: max-content auto;
}

.container aside {
  height: calc(100vh - (100px + 35px + 70px + 40px));
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: aside;
  border-right: 5px double #2e416f;
  background-color: #627091;
  padding: 20px 20px;
}

.container aside ul li {
  border: 1px solid #2e416f;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container main {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: main;
  height: calc(100vh - (100px + 35px + 70px + 40px));
  background-color: #627091;
  padding: 20px 20px;
}

.container main table {
  width: 80%;
  margin: 10px auto;
}

.container main table th {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: 3px solid #2e416f;
  padding: 5px 0;
}

.container main table tbody tr {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  border: 2px solid #2e416f;
  line-height: 2rem;
}

.container main table tbody tr td {
  padding: 5px 0;
}

.container main table tbody tr td.biggerFont {
  font-size: 2rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #2e416f;
  color: #fff;
  height: 35px;
}

footer .text {
  text-align: center;
  line-height: 35px;
}
/*# sourceMappingURL=style.css.map */